<footer class="site-footer" role="contentinfo">
    <p>© 2018 장군블로그</p>
    <p>Powered by Jangkunblog.com</p>
</footer>

<!-- JS -->
<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jangkunblog.js" | relative_url }}"></script>

<!-- Google Analytics -->
{% if site.theme_settings.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.theme_settings.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
{% endif %}