---
layout: default
---
<article class="content-area">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <div class="post-meta">
      <!-- {{ page.date | date: "%B %-d, %Y" }} -->
      <p>{{ page.date | date: "%Y년 %m월 %d일" }}</p>
      {% include tags_list.html tags=page.tags tag_count=page.tags.size %}
    </div>
  </header>
  <section class="post-content">{{ content }}</section>
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
{% include post_nav.html %}
{% endif %}
